.slide-handler {
    height: 100%;
    background-color: white;
    
    width: 3px;
    float: right;
    cursor: e-resize;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.84);
    
}

.editor-terminal {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.9); */
}

.terminal-slider {
    height: 4px;
    width: 100%;
    border-top:1px solid;
    border-color: azure;
    cursor: n-resize;
}

.file-manager {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}

.manager-header {
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
}

.manager-header-title {
    padding: 5%;
    font-weight: 500;
}

.file-item {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 1px;
    align-items: center;
    cursor: pointer;
}

.file-item:hover {
    background-color: rgba(0, 0, 0, 0.84);
}

.icon-style {
    color: white;
    font-size: medium;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 0px;
}

.features-options {
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    align-items: center;
    color: white;
}


strong{
    padding:5px
}

.item-center{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;

}

.entities {
    display: list-item;
    overflow-y: scroll;
    height: 89vh;
    overflow-x: hidden;
}
.entities::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.refresh-button{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    float: right;
    padding-right: 5px;
    align-items: center;
}

.right-header {
    margin-left: 10px;
}

.modal-paper {
    display: list-item;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.84);
    height: 85%;
    width: 100%;

}
.row-scroll {
    margin-right: 5px;
    display: list-item;
    overflow-x: scroll;

}
.action-buttons {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    width: 100%;
    align-items: center;
}

.open-files {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: rgb(22, 20, 22);

}
.open-files::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.open-file-item {
    max-width: 150px;
    text-overflow: clip;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dot {
    
    height: 5px;
    width: 5px;
    margin-right: 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;

}
.open-file-item:hover {
    background-color: grey;
}

.connection-dot {
    height: 5px;
    width: 5px;
    border-radius: 8px 8px 8px 8px;
}

#terminal-view::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}